html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #333333;
  color: #cccccc;
  font-family: sans-serif; }

#basicMap {
  width: 100%;
  height: 200px; }

#loader {
  display: none;
  margin: 2em auto 0 auto
  }

a {
  color: white; }

div.number-box {
  width: 100%;
  margin-left: 0.4em;
  margin-right: 0; 

}
#search input.tel {
    display: inline-block;
    width: 1.5em;
    max-width: 100px;
    vertical-align: top; }
  input[type=tel].right {
      text-align: right; }

#search .ui-select {
    display: inline-block;
    width: 40%;
} 

#search {
  max-width: 500px;
  margin: 0 auto; }

input[type=text].ui-input-text {
  width: 90%; }

.squeeze {
  margin: 0;
  padding: 0; }

div.olControlZoom {
  position: absolute;
  top: 8px;
  left: 8px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 2px; }

.olButton {
  color: white !important; }

div.olControlZoom a {
  display: block;
  margin: 1px;
  padding: 0;
  color: white;
  font-size: 28px;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 32px;
  width: 32px;
  line-height: 28px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  /* fallback for IE - IE6 requires background shorthand */
  background: #130085;
  background: rgba(0, 60, 136, 0.5);
  filter: alpha(opacity=80); }

a.olControlZoomIn {
  border-radius: 4px 4px 0 0; }

a.olControlZoomOut {
  border-radius: 0 0 4px 4px; }

div.olControlZoom a:hover {
  background: #130085;
  background: rgba(0, 60, 136, 0.7);
  filter: alpha(opacity=100); }

.olLayerGrid .olTileImage {
  -webkit-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }
  
form img {
  float: right;
  margin-top: 1px;
  margin-right: 6px;
  padding: 5px 3px;
  /*border: dashed 1px;*/
}

.focusIcon {
    /* Hack to get the focus images in place... */
    margin-top: -41px;
    margin-right: 20px; 
}
