<div data-role="header" id="header">
    <a class="back" href="#back">Back</a>
    <h1>reitit.info</h1>
</div>
<div data-role="content" id="content">
    <div id="search"><form>
        <img id="favicon" name="favicon" src="static/favorite-off.png" />
        <input type="text" id="input" name="input" value="<%= currentInput %>" />
        <input type="submit" id="confirm" value="OK" data-mini="true" />
    </form></div>
    <ul data-role="listview" id="favlist" data-theme="c" data-content-theme="c"></ul>
</div>
