<div data-role="header" class="header">
    <!--<h1>reitit.info</h1>-->
    <div id="basicMap"></div>
</div>
<div data-role="content" class="content">
    <div id="search">
    <form>
        <div class="squeeze">
            <input type="text" id="from" name="from" placeholder="start location" data-mini="true" />
            <img class="focusIcon" id="fromFocus" src="static/zoom.png" width="32" height="32" />
        </div>
        <div class="squeeze">
            <input type="text" id="to" name="to" placeholder="destination" data-mini="true" />
            <img class="focusIcon" id="toFocus" src="static/zoom.png" width="32" height="32" />
        </div>

        <div id="times">
            <input class="right tel" type="tel" name="hour" id="hour" maxlength="2" value="<%= time.hours %>" pattern="(2[0-3])|([0-1]?[0-9])" title="hours" />
        <span style="font-size:1.5em;">:</span>
        <input class="tel" type="tel" name="minute" id="minute" maxlength="2" value="<%= time.minutes %>"  pattern="[0-5]?[0-9]" title="minutes" />
        </div>
        <div id="timetype">
        <select name="select-choice-1" name="select-choice-min" id="select-choise-min">
            <option value="departure">Departure time</option>
            <option value="arrival">Arrival time</option>
        </select>
    </div>

        <input type="submit" value="Go" data-mini="true" />
    </form>
    </div>
</div>
